{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoloSync - Clientes</title>
    <link rel="stylesheet" href="{% static 'gestao/css/style.css' %}">
</head>
<body>
    {% include "gestao/partials/_sidebar.html" %}
    <div class="main-content">
        <div class="header-card">
            <h1>Clientes</h1>
            <p>Aqui você pode visualizar e gerenciar os clientes da sua empresa.</p>
        </div>
            <div class="table-header">
                <h2>Meus Clientes</h2>
                <a href="{% url 'criar-cliente' %}" class="btn btn-primary">+ Novo Cliente</a>
            </div>
        <section class="clients-section">
            <div class="table-container">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Nome do Cliente</th>
                            <th>Qnt. de Projetos</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Empresa</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td class="font-bold"><a href="{% url 'detalhar-cliente' cliente.id %}">{{ cliente.nome }}</a></td>
                            <td>{{ cliente.projetos.count }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.telefone }}</td>
                            <td>{{ cliente.empresa }}</td>
                            <td class="actions">
                                <a href="{% url 'editar-cliente' cliente.id %}">{% load static %} <img src="{% static 'gestao/img/edit.png' %}" alt="Btn Editar"></a>
                                <a href="{% url 'deletar-cliente' cliente.id %}" class="btn-delete" onclick="return confirm('Tem certeza que deseja deletar este cliente?')">{% load static %} <img src="{% static 'gestao/img/delete.png' %}" alt="Btn Deletar"></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>    
                            <td colspan="6" class="empty-msg">Nenhum cliente cadastrado ainda.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>
    {% include "gestao/partials/_script.html" %}
</body>
</html>