{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoloSync - Criar Cliente</title>
    <link rel="stylesheet" href="{% static 'gestao/css/style.css' %}">
</head>
<body>
    {% include "gestao/partials/_sidebar.html" %}
    <div class="main-content">
        <section class="form-section">
            <header class="dashboard-header">
                <h1>Novo <span>Cliente</span></h1>
            </header>

            <div class="form-card">
                <form method="POST">
                    {% csrf_token %} {% for field in form %}
                        <div class="form-content">
                            <label class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <span style="color: red; font-size: 0.8rem;">{{ field.errors }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="btn-group">
                        <button type="submit" class="btn-salvar">Salvar</button>
                        <a class="btn-cancelar" href="{% url 'listar-clientes' %}">Cancelar</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
    {% include "gestao/partials/_script.html" %}
</body>
</html>