{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoloSync - Dashboard</title>
    <link rel="stylesheet" href="{% static 'gestao/css/style.css' %}">
</head>
<body>
    {% include "gestao/partials/_sidebar.html" %}
    <div class="main-content">
        <header class="header-card">
            <h1>🚀 SoloSync <span>Dashboard</span></h1>
            <p>Gerencie seus projetos e finanças de forma simples.</p>
        </header>
        <div class="dashboard-details">
            <div class="stats-grid">
                <div class="stat-card total">
                    <h3>Projetos Ativos</h3>
                    <p class="value">{{ total_ativos }}</p>
                </div>
                <div class="stat-card planning">
                    <h3>Projetos Concluidos</h3>
                    <p class="value">{{ total_concluido }}</p>
                </div>
                <div class="stat-card prize">
                    <h3>Tarefas a Vencer</h3>
                    <p class="value">{{ total_tarefas_a_vencer }}</p>
                </div>
                <div class="stat-card value">
                    <h3>Valor Total dos Projetos</h3>
                    <p class="value">R$ {{ valor_total }}</p>
                </div>
            </div>
            <hr class="divider">
            <div class="graph-group">
                <div class="card-graph">
                    <div class="graph-container">
                        <h3>Status dos Projetos</h3>
                        <canvas id="loadChart"></canvas>
                    </div>
                </div>
                <div class="card-graph">
                    <div class="graph-container">
                        <h3>Faturamento Mensal</h3>
                        <canvas id="FaturamentoMensalChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

     {% include "gestao/partials/_script.html" %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('loadChart').getContext('2d');
        new Chart(ctx, {
            type:'doughnut',
            data: {
                labels: {{ status_labels|safe }},
                datasets: [{
                    data: {{ status_counts|safe }},
                    backgroundColor: ['#6366f1', '#f59e0b', '#22c55e'],
                    borderWidth: 0
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            color: '#334155',
                            font: {
                                size: 14,
                                weight: 'bold'
                            }
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>