{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoloSync - Detalhes da Tarefa</title>
    <link rel="stylesheet" href="{% static 'gestao/css/style.css' %}">
</head>
<body>
    {% include "gestao/partials/_sidebar.html" %}
    <div class="main-content">
        <header class="header-card">
            <h1>Detalhes da Tarefa</h1>
            <p>Acompanhe as informações detalhadas da tarefa selecionada.</p>  
        </header>
        <div class="header-actions">
                <a href="{% url 'editar-tarefa' tarefa.id %}" class="btn btn-edit">{% load static %}<img src="{% static 'gestao/img/edit.png' %}" alt="Editar Tarefa"> Editar Tarefa</a>
                <a href="{% url "deletar-tarefa" tarefa.id %}" onclick="return confirm('Tem certeza que deseja deletar esta tarefa?')" class="btn btn-delete">{% load static %}<img src="{% static 'gestao/img/delete.png' %}" alt="Deletar Tarefa"> Deletar Tarefa</a>
                <a href="{% url 'concluir-tarefa' tarefa.id tarefa.projeto.id %}" class="btn btn-finish">{% load static %}<img src="{% static 'gestao/img/finish.png' %}" alt="Concluir Tarefa"> Concluir Tarefa</a>
        </div>
        <div class="task-details">
            <div class="stats-grid">
                <div class="stat-card title">
                    <h3>Nome da Tarefa</h3>
                    <p class="task-value">{{ tarefa.titulo }}</p>
                </div>
                <div class="stat-card prize">
                    <h3>Data de Criação</h3>
                    <p class="task-value">{{ tarefa.data_criacao|date:"d/m/Y" }}</p>
                </div>
                <div class="stat-card value">
                    <h3>Status</h3>
                    <p class="task-value"><span class="status-badge status-{{ tarefa.status }}">{{ tarefa.get_status_display }}</span></p>
                </div>
            </div>        
            <div class="description-card">
                <h3>Descrição da Tarefa</h3>
                <p>{{ tarefa.descricao }}</p>
            </div>
            <a href="{% url 'detalhar-projeto' tarefa.projeto.id %}" class="btn btn-back">Voltar</a>
    </div>
    {% include "gestao/partials/_script.html" %}
</body>
</html>