{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoloSync - Home</title>
    <link rel="stylesheet" href="{% static 'gestao/css/style.css' %}">
</head>
<body class="home-body">

    {% include "gestao/partials/_sidebar.html" %}

    <div class="main-content">
        <header class="home-header">
            <h1>Bem-vindo ao <span>SoloSync</span>!</h1>
            <p>Sua central de controle freelancer.</p>
        </header>

        {% include "gestao/partials/_development.html" %}
    </div>

    {% include "gestao/partials/_script.html" %}
</body>
</html>