{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoloSync - Home</title>
    <link rel="stylesheet" href="{% static 'gestao/css/style.css' %}">
</head>
<body class="home-body">
    {% include "gestao/partials/_sidebar.html" %}
    <div class="main-content">
        <header class="header-card">
            <h1>Bem-vindo ao Solo<span>Sync</span>!</h1>
            <p>Sua central de controle freelancer.</p>
        </header>
            <h2 style="text-align: center; font-size: 30px; margin-top: 30px; margin-bottom: 10px;">Lista de Tarefas</h2>
            <div class="task-cards">
                <div class="planning-card">
                    <h3 class="task-card-title" style="color: #6366f1;">Planejamento</h3>
                    <ul class="task-list">
                        {% for tarefa in tarefas_em_planejamento %}
                        <li class="task-item"><a class="task-link" href="{% url 'detalhar-projeto' tarefa.projeto.id %}"><strong>{{ tarefa.projeto.titulo }}</strong></a> - {{ tarefa.descricao }}</li>
                        {% empty %}
                        <li>Nenhuma tarefa em planejamento.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="in-progress-card">
                    <h3 class="task-card-title" style="color: #f59e0b;">Em Andamento</h3>
                    <ul class="task-list">
                        {% for tarefa in tarefas_em_andamento %}
                        <li class="task-item"><a class="task-link" href="{% url 'detalhar-projeto' tarefa.projeto.id %}"><strong>{{ tarefa.projeto.titulo }}</strong></a> - {{ tarefa.descricao }}</li>
                        {% empty %}
                        <li>Nenhuma tarefa em andamento.</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="completed-card">
                    <h3 class="task-card-title" style="color: #22c55e;">Concluídas</h3>
                    <ul class="task-list">
                        {% for tarefa in tarefas_concluidas %}
                        <li class="task-item"><a class="task-link" href="{% url 'detalhar-projeto' tarefa.projeto.id %}"><strong>{{ tarefa.projeto.titulo }}</strong></a> - {{ tarefa.descricao }}</li>
                        {% empty %}
                        <li>Nenhuma tarefa concluída.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include "gestao/partials/_script.html" %}
</body>
</html>